.container {
  max-width: 1300px;
}

.btn {
  border-radius: 31px;
  background-color: #f7842a;
  border: none;
  margin: 5px;
  color: rgb(247 242 242);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: 109px;
  font-size: 16px;
  padding: 5px;
}

.menu {
  background-color: #edede9;
  display: flex;
  gap: 5px;
  justify-content: center;
}
