.cardcontainer {
  gap: 5px;
}
.card {
  display: flex;
  border-right: 0;
  border-left: 0;
  background-color: inherit;
  margin: auto;
  height: 150px;
  width: 70%;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  color: rgb(51, 49, 49);
  align-items: center;
}

.title {
  color: blue;
}

.tag {
  position: relative;
  color: black;
  font-size: small;
}
.tag-container {
  display: flex;
  gap: 2px;
}
